[package]
name = "eqlog-runtime"
edition.workspace = true
version.workspace = true
authors.workspace = true
license.workspace = true
description.workspace = true
repository.workspace = true
readme.workspace = true
links = "eqlog-runtime-0.8"

[dev-dependencies]
rand = ">= 0.9"
