[package]
name = "eqlog-runtime"
edition.workspace = true
version.workspace = true
authors.workspace = true
license.workspace = true
description.workspace = true
repository.workspace = true
readme.workspace = true
links = "eqlog-runtime"

[build-dependencies]
anyhow = ">= 0"
