[package]
name = "eqlog"
version = "0.1.0"
authors = ["Martin Bidlingmaier <martin.bidlingmaier@mbid.me>"]
edition = "2021"

[dependencies]
lalrpop-util = "0"
regex = "1"
maplit = "1"
itertools = "0"
convert_case = "0"
indoc = "1"

[build-dependencies]
lalrpop = { version = "0", features = [ "lexer" ] }
